.c9/
*.pyc
docker-compose.yml
temp
**/*.jasper
**/*.class
**/*.pyc
**/jasper_reports/java/**.log.**
**/jasper_reports/java/*.log
**/openerp-jasper.pid
openerp-jasper.pid
**/custom_reports/*.jrxml
.db/
openerp-server.log
tmp/
**log.**
**/testing_config.py
BackupScript/