a {
  color: #026232;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #026232;
  border-color: #026232;
}
.btn-primary {
  background-color: #026232;
  border-color: #026232;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #03944c;
  border-color: #03944c;
}
.text-success {
  color: #026232;
}
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus {
  background-color: #026232;
  color: #fff;
  border-color: #026232;
}
.pagination li a,
.pagination li a:hover,
.pagination li a:focus {
  background-color: #fff;
  color: #026232;
}
/*Sua mau hien thi tren menu*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #026232;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  border-left: solid #026232;
}
.nav > .active > a {
  border-bottom: solid #026232;
}
.nav > li > a:hover,
.nav > li > a:focus {
  border-bottom: solid #026232;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #026232;
  background-color: #fff;
  border-left: solid #026232;
}
.dropdown-menu .divider {
  background-color: #026232;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #026232;
  border-bottom: solid #026232;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a:active {
  color: #026232;
  border-bottom: solid #026232;
  background-color: #fff;
}
.navbar-default .navbar-nav > .active > a {
  color: #026232;
  border-bottom: solid #026232;
  background-color: #fff;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #026232;
  border-bottom: solid #026232;
  background-color: #e7e7e7;
}
/*Hien thi voi Bootstrap callout*/
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
/*header*/
.brand {
  display: none;
}
.brand-right {
  display: none;
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-nav > li > a {
  border-bottom: solid #fff;
}
div#kdvn_theme_header_top {
  padding-bottom: 15px;
  padding-top: 15px;
}
#top_menu > li > a > span {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
  .navbar-header {
    display: none;
  }
  .brand {
    display: inherit;
    text-align: center;
    float: left;
    margin-top: 5px;
  }
  .brand-right {
    display: inherit;
    text-align: center;
    float: right;
    margin-bottom: -15px;
  }
  .brand-right address {
    text-align: right;
  }
  .brand-right > .kdvn_theme_h_right > address {
    font-size: 16px;
    color: #026232;
    font-weight: bold;
    background: #d1d1d1;
    width: auto;
    float: right;
    margin-top: 5px;
    padding: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #f3f3f3), color-stop(0.7, #dddddd));
  }
  .kdvn_theme_h_right > ul {
    margin: 0;
  }
  .kdvn_theme_h_right > ul > li {
    vertical-align: middle;
  }
  .kdvn_theme_h_right > ul > li > h1 {
    font-size: 20px;
    color: green;
    font-weight: bold;
    margin: 0;
  }
  .kdvn-theme-top-address {
    display: none;
  }
  ul#top_menu.nav.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    border-top: 1px solid #026232;
  }
  ul#top_menu.nav.navbar-nav > li {
    display: table-cell;
    float: none;
    text-align: center;
  }
  ul#top_menu.nav.navbar-nav > li.divider {
    width: 1px;
    height: 50%;
    float: right;
    margin-bottom: -5px;
    padding-top: 20px;
    border-right: 1px solid #dddddd;
  }
  ul#top_menu.nav.navbar-nav > li.divider.oe_editable {
    width: 1px;
    height: 50%;
    float: right;
    border: none;
    padding: 0;
    border-right: 1px solid #dddddd;
  }
  /* hieu ung click anh trong Certificate
		o desktop hien thi do rong 30%
	*/
  .img-click-desk {
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  ul#top_menu.nav.navbar-nav > li.divider {
    display: None;
  }
  .kdvn-theme-top-address {
    padding: 5px 15px 5px 0;
    background: #ccc;
    text-align: right;
  }
  div#kdvn_theme_header_top {
    padding: 0;
  }
  /* hieu ung click anh trong Certificate
		o mobil hien thi do rong 90%
		o desktop hien thi do rong 30%
	*/
  .img-click-mobil {
    max-width: 90%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
#top_menu > li.dropdown.open > ul {
  width: 100%;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.brand a:hover,
a:focus {
  text-decoration: none;
}
/*Footer*/
#wrapwrap footer {
  background-color: #026232;
  color: #fff;
  height: initial;
}
#wrapwrap footer address h4 {
  color: #fff !important;
}
#wrapwrap footer address {
  color: #fff;
}
/*Homepage main*/
.kdvn-theme-hp-main {
  background: rgba(238, 238, 238, 0.65);
}
div.media-body > a:hover,
div.media-body > a:active,
div.media-body > a:focus {
  text-decoration: none;
}
/*Homepage main menu trai*/
.kdvn-theme-hp-main-left > h4 {
  text-align: center;
  border-bottom: 1px solid #026232;
  color: #026232;
  padding-bottom: 15px;
  margin: 0;
}
div.col-md-5.kdvn-theme-hp-main-left > div.media {
  border-bottom: 1px solid #026232;
  padding-bottom: 10px;
}
.kdvn-theme-homepage-main-p {
  margin: 0;
  padding: 0;
  text-align: right;
}
/*Homepage main menu phai*/
.kdvn-theme-hp-main-right > h4 {
  text-align: center;
  border-bottom: 1px solid #026232;
  color: #026232;
  padding-bottom: 15px;
  margin: 0;
}
.kdvn-theme-hp-main-right > div.media {
  padding-bottom: 15px;
}
/*Hien thi anh tren Homepage menu phai*/
#kdvn_theme_thumbnail > .thumbnail {
  position: relative;
}
#kdvn_theme_thumbnail > .thumbnail > .caption {
  position: absolute;
  padding: 0;
  top: 15%;
  left: 0;
  width: 100%;
}
#kdvn_theme_thumbnail > .thumbnail > .caption > h4 {
  text-transform: uppercase;
  color: #026232;
  padding: 0.5em 0;
  background-color: rgba(255, 255, 255, 0.45);
}
/*Project*/
ul.kdvn-theme-menu-left-prj {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #026232;
  border-top: 1px solid #026232;
}
ul.kdvn-theme-menu-left-prj li {
  display: block;
  list-style: none;
  border-bottom: 1px solid #026232;
  padding: 10px 0;
  margin-left: 15px;
}
ul.kdvn-theme-menu-left-prj > li:first-child {
  border-top: 0;
}
ul.kdvn-theme-menu-left-prj > li:last-child {
  border-bottom: 0;
}
ul.kdvn-theme-menu-left-prj li a:hover,
ul.kdvn-theme-menu-left-prj li a.active {
  color: #11A84E;
}
ul.kdvn-theme-menu-left-prj li a {
  color: #666;
  text-decoration: none;
  outline: 0;
  margin-left: 15px;
}
ul.kdvn-theme-menu-left-prj li.active {
  background: #999999;
}
ul.kdvn-theme-menu-left-prj li.active a {
  color: #000;
  margin-left: 15px;
}
.kdvn-theme-menu-left-prj-title {
  border-bottom: 1px solid #026232;
  padding-bottom: 3px;
  text-transform: uppercase;
  color: #026232;
}
.kdvn-theme-cer-title {
  border-bottom: 1px solid #026232;
  padding-bottom: 3px;
  text-transform: uppercase;
  color: #026232;
  font-weight: bold;
}
.kdvn-theme-cer-thum-cus {
  height: 200px;
  position: relative;
}
.kdvn-theme-cer-image {
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
}
.kdvn-theme-cer-content {
  position: relative;
  height: 50px;
  margin-bottom: 10px;
  color: #026232;
  text-transform: uppercase;
}
/*page list post*/
.kdvn-theme-post-list-cus {
  border-left: 0px;
  border-right: 0px;
}
.list-group-item:first-child.kdvn-theme-post-list-cus {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child.kdvn-theme-post-list-cus {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*content post*/
.kdvn-theme-blog-title {
  margin-top: 1.5rem!important;
  color: #026232;
  text-transform: uppercase;
}
/*page Recruiment*/
.kdvn-theme-hr-tr {
  border-bottom: 1px solid #026232;
}
.kdvn-theme-hr-td-title {
  vertical-align: middle;
  padding-left: 5px;
}
.kdvn-theme-hr-td-content {
  vertical-align: middle;
  padding: 10px;
}
/*Contact us*/
.kdvn-theme-contactus-location {
  border-bottom: 1px solid #026232;
  padding-bottom: 2px;
  margin: 0;
}
.kdvn-theme-contactus-location > span {
  padding-bottom: 3px;
  border-bottom: 3px solid #026232;
  line-height: 1.4;
}
/*Banner*/
h1.kdvn-theme-bn-me {
  height: 150px;
  padding: 0 15px;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 36px;
  color: #FFFFFF;
  line-height: 1.2;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
